# IDE Files
*.swp
*.swo

# Mac Files
*.DS_Store

# CocoaPod Files
Pods/

# XCode Files
AuctionApp.xcworkspace/xcuserdata
*.xcscheme
*.xcuserstate
*xcuserdata/

# Fastlane Files
fastlane/screenshots
fastlane/report.xml
Auction.app.dSYM.zip
Auction.ipa
